<div id="modalAddEntry" class="modal fade" tabindex="-1">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
	<h5 class="modal-title">Add Entry</h5>
	<button type="button" class="close" data-dismiss="modal">
		<span>&times;</span>
	</button>
</div>
<div class="modal-body">
	<form method="POST" class="post-form" action="{% url 'add_entry' %}">
		{% csrf_token %}
		{{ add_entry_form.as_p }}
		<button type="submit" class="save btn btn-outline-dark">Save</button>
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
	</form>
	<br>
		<table id="nutrition_facts" class="table table-dark">
			<tr>
				<td>Calories:</td>
				<td id="cell_calories"></td>
			</tr>
			<tr>
				<td>Fat:</td>
				<td id="cell_fat"></td>
			</tr>
			<tr>
				<td>Carbohydrates:</td>
				<td id="cell_carbohydrates"></td>
			</tr>
			<tr>
				<td>Fiber:</td>
				<td id="cell_fiber"></td>
			</tr>
			<tr>
				<td>Protein:</td>
				<td id="cell_protein"></td>
			</tr>
			<tr style="display:none;">
				<td>Amount</td>
				<td id="cell_amount"></td>
			</tr>
		</table>
</div>
</div>
</div>
</div>

<div id="modalNewFood" class="modal fade" tabindex="-1">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
	<h5 class="modal-title">New Food</h5>
	<button type="button" class="close" data-dismiss="modal">
		<span>&times;</span>
	</button>
</div>
<div class="modal-body">
	<form method="POST" class="post-form" action="{% url 'add_food' %}">
		{% csrf_token %}
		{{ add_food_form.as_p }}
		<button type="submit" class="save btn btn-outline-dark">Save</button>
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
	</form>
</div>
</div>
</div>
</div>
